/* CSS */

.gtour-rotate {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotate(1turn);
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform: rotate(1turn);
}

.gtour-tooltip-parent {
  font-family: Source Sans Pro, sans-serif;
}

.gtour-err {
  background-color: red;
  color: white;
  text-align: center;
  padding: 2px;
  margin-top: 3px;
}

.gtour-text {
  margin-top: 10px;
  margin-bottom: 5px;
}

.gtour-next {
  float: right;
  height: auto;
  border-width: 1px;
  margin-top: 5px;
  margin-bottom: 1px;
  margin-right: 1px;
}

.gtour-next:hover {
  border-width: 2px;
  margin-top: 4px;
  margin-bottom: 0;
  margin-right: 0;
}

.gtour-editor {
  background-color: #fbfbfb;
  /* background-image: url("../extensions/ext_guided_tour_2/pics/loading.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px 100px; */
}

.lui-tooltip li {
  margin-left: 20px;
}

#gtour-editor-loader {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45%;
}

.gtour-rotate {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotate(1turn);
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform: rotate(1turn);
}

.gtour-center-middle {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  text-align: center;
  width: 100%;
}


.gtour-picker, .gtour-picker-container {
  position:absolute; 
  z-index:100; 
  background-color:#079B4A; 
  cursor:pointer; 
  color:white; 
  font-weight: normal;
  border-radius: 10px; 
  padding: 0 10px;
  height: 20px; 
  line-height:20px;
}
.gtour-picker-container {
  margin-left: 50px;
}

.gtour-tooltip-parent p, .gtour-tooltip-parent li {
  margin-bottom: 6px;
}